{% extends 'base.html' %}

{% block page %}Signup{% endblock %}

{% block content %}

<div class="row">
    <div class="col-md-6">

        {% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
        <div class="alert alert-{{category}} alert-dismissible fade show" role="alert">
            <strong>{{ message }}</strong>
            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}

        <div class="card p-4 mb-3 mt-3">
            <div class="text-center mb-3">
                <h2 class="fw-bold">Sign Up</h2>
            </div>

            <form action="" method="post">
                <div class="form-floating mb-3">
                    <input type="text" name="name" class="form-control" placeholder="Enter Your Name">
                    <label for="floatingInput">Enter Your Name</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="text" name="username" class="form-control" placeholder="Enter Your Username">
                    <label for="floatingInput">Enter Your Username</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="email" name="email" class="form-control" placeholder="Enter Your Email">
                    <label for="floatingInput">Enter Your Email</label>
                </div>
                <div class="form-floating mb-3">
                    <input type="password" name="password" class="form-control" placeholder="Enter Your Password">
                    <label for="floatingInput">Enter Your Password</label>
                </div>

                <input type="submit" value="Signup" class="btn btn-primary">
            </form>

            <div class="text-center mt-4">
                Already have an account?
                <a href="{{ url_for('login') }}">Login</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}